@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;400&family=Satisfy&display=swap');

.nav-link{
  font-family: 'Gothic A1';
  font-weight: 400;
}

@media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331!important;
            }
        }
.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.5)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}

#bg {
  background-image: url("../images/new_bg-compressor.jpg");
  height: 80%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Satisfy', cursive;
  color: white;
  font-size: 55px;
}

.name{
  color: #a2de96;
}

/* .about{
  margin: 20px;
  height: 100px;
}

#about-header{
  position: absolute;
  height: 40px;
  text-align: center;
  position: absolute;
  font-family: 'header';
  color: #a2de96;
  font-size: 30px;
} */

#profile{
  padding: 40px 180px;
}

#contact{
  padding: 40px 180px;
  background-color: #96bb7c;
  text-align: center;
}
@media (max-width: 667px){
  #profile{
      padding: 60px 20px;
      min-width: 280px;
  }
  #contact{
    padding: 60px 20px;
    min-width: 280px;
  }
}

.profile-header{
  text-align: center;
}
.contact-header{
  text-align: center;
}
.profile-header h1{
  /* font-family: 'gothic400'; */
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
}
.contact-header h1{
  /* font-family: 'gothic400'; */
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
}
.profile-header h6{
  /* font-family: 'gothicthin'; */
  font-family: 'Gothic A1', sans-serif;
  font-weight: 100;
}

.row h3{
  /* font-family: 'gothic400'; */
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  color: #438a5e;
}

.para{
  /* font-family: 'gothicthin'; */
  font-family: 'Gothic A1', sans-serif;
  font-weight: 100;
  /* text-align: justify;
  text-justify: inter-word; */
}
.details h6{
  margin-top: 10px;
  margin-bottom: 0px;
  /* font-family: 'gothic400'; */
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
}
.details p{
  /* font-family: 'gothicthin'; */
  font-family: 'Gothic A1', sans-serif;
  font-weight: 100;
}
/*
.social-holder{
    margin-top:60px;
    display: inline-block;
    text-align: center;
} */

.fab {
    padding: 20px;
    font-size: 30px;
    color: #fff;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
